<section style="padding: 0% 5% 0% 5%;">
	<p>{{ctrl.info.long_description}}</p>
</section>

<section flex="80" style="margin-left: auto; margin-right: auto;">
	
	<h2>Statistics</h2>
	
	<div layout="row" ng-repeat="row in ctrl.info.statistics">
		<md-card
			ng-init="load_subdata(statistic.data)"
			ng-controller="dataController as ctrl"
			ng-repeat="statistic in row"
			style="max-width: {{statistic.width}}; width: {{statistic.width}}"
			>
			
			<md-card-title style="text-align: center;">{{statistic.title}}</md-card-title>
			
			<md-card-content>
				
				<div ng-if="sending" style="text-align: center; color: cadetblue;">
	       			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	   			</div>
	
				<div ng-if="statistic.type == 'table'" style="max-height: 300px; overflow: auto;">
		   			<table md-table md-row-select multiple>
						<tbody md-body>
							<thead md-head>
								<tr md-row>
									<th md-column ng-repeat="label in subdata.labels"><span>{{label}}</span></th>
								</tr>
							</thead>
							<tr md-row md-auto-select ng-repeat="label in subdata.header track by $index">
								<td md-cell style="font-weight: bold;"><span>{{label}}</span></td>
								<td md-cell style="text-align: right;"><span>{{subdata.items[$index]}}</span></td>
							</tr>
						</tbody>
		    		</table>
	    		</div>
	    		
	    		<canvas ng-if="statistic.type == 'chart-pie'" class="chart chart-pie" chart-data="subdata.items" chart-labels="subdata.header">
				</canvas>
				
				<canvas ng-if="statistic.type == 'chart-bar'" class="chart chart-bar" chart-data="subdata.items" chart-labels="subdata.header">
				</canvas>
	   			
			</md-card-content>
			
			<md-divider></md-divider>
			
			<md-card-footer>
				<span ng-bind="subdata.items.length"></span>
	   			<span> </span>
	   			<span ng-bind="subdata.labels[0]"></span><span ng-if="subdata.labels.length > 0">s</span>
	   		</md-card-footer>
		</md-card>
	</div>
	
</section>